<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated esdl -->
      <package
            uri="http://www.tno.nl/esdl/1806"
            class="esdl.EsdlPackage"
            genModel="model/esdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated esdl -->
      <parser
            type="esdl"
            class="esdl.util.EsdlResourceFactoryImpl"/>
   </extension>

</plugin>
