<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated esdl -->
      <package
            uri="http://www.tno.nl/esdl"
            class="esdl.EsdlPackage"
            genModel="model/esdl.genmodel"/>
   </extension>

</plugin>
